@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* variables here: */
@import url("./styles/variables/primitives.css");
@import url("./styles/variables/colors.css");
@import url("./styles/variables/numbers.css");
@import url("./styles/variables/typography.css");
/* components here: */
@import url("./styles/components/click.css");
@import url("./styles/components/dropdown.css");
@import url("./styles/components/toggle.css");
@import url("./styles/components/input.css");
@import url("./styles/components/big-components.css");
@import url("./styles/components/inactive.css");
@import url("./styles/components/big-elements.css");
@import url('./styles/components/fonts.css');

* {
  /* outline: 0.08rem dashed red; */
  margin: 0;
  padding: 0;
}

html {
  padding-top: 64px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0;
  gap: var(--container-gap_between-3xl);
  background-color: var(--bg-tertiary);
  color: var(--text-tertiary);
  overflow-x: hidden;
  padding: var(--container-padding-vertical-xlg) var(--container-padding-horizontal-xlg);
}

/* Button base styles */
button {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: fit-content;
  overflow: hidden;
  cursor: pointer;
  border: none;
  outline: none;
  outline: 1.3px solid var(--border);
  background-color: var(--border);
  --fg: var(--text-secondary);
  --text: var(--text-secondary);
  --text_hover: var(--text-primary);
  --text_press: var(--text-tertiary);
  --bg: var(--bg-primary);
  color: var(--text);
  white-space: nowrap;

}
.logo {
  height: 42px;
  width: auto;
}