[device="Desktop"] {
  /* number */
  --special: -8rem;
  --special-2: -0.75rem;
  --container-gap_between-2xs: 0.125rem;
  --container-gap_between-xs: 0.25rem;
  --container-gap_between-sm: 0.375rem;
  --container-gap_between-md: 0.5rem;
  --container-gap_between-lg: 0.75rem;
  --container-gap_between-xl: 1rem;
  --container-gap_between-2xl: 1.25rem;
  --container-gap_between-3xl: 2.5rem;
  --container-gap_between-4xl: 3.75rem;
  --container-max_w-sm: 25rem;
  --container-max_w-md: 37.5rem;
  --container-max_w-lg: 75rem;
  --container-max_w-xl: 115rem;
  --container-padding-xs: 0.25rem;
  --container-padding-sm: 0.5rem;
  --container-padding-md: 0.75rem;
  --container-padding-lg: 1rem;
  --container-padding-xl: 1.25rem;
  --container-padding-2xl: 2.5rem;
  --container-padding-3xl: 5rem;
  --container-padding-horizontal-md: 1rem;
  --container-padding-horizontal-lg: 1.25rem;
  --container-padding-horizontal-xlg: 2.5rem;
  --container-padding-vertical-md: 0.75rem;
  --container-padding-vertical-scrollbar: 0.75rem;
  --container-padding-vertical-lg: 2.5rem;
  --container-padding-vertical-xlg: 5rem;
  --container-radius-2xs: 0.5rem;
  --container-radius-xs: 0.625rem;
  --container-radius-sm: 0.875rem;
  --container-radius-md: 1rem;
  --container-radius-lg: 1.25rem;
  --container-radius-full: 62.4375rem;
  --instance-gap_between-xs: 0.0625rem;
  --instance-gap_between-sm: 0.125rem;
  --instance-gap_between-md: 0.25rem;
  --instance-gap_between-lg: 0.375rem;
  --instance-gap_between-xl: 0.5rem;
  --instance-gap_between-2xl: 0.75rem;
  --instance-padding-shadow-negative: -0.1875rem;
  --instance-padding-2xs: 0.125rem;
  --instance-padding-text: 0.125rem;
  --instance-padding-shadow-positive: 0.1875rem;
  --instance-padding-xs: 0.25rem;
  --instance-padding-sm: 0.375rem;
  --instance-padding-md: 0.5rem;
  --instance-padding-lg: 0.625rem;
  --instance-padding-xl: 0.75rem;
  --instance-padding-2xl: 0.875rem;
  --instance-radius-2xs: 0.25rem;
  --instance-radius-xs: 0.375rem;
  --instance-radius-sm: 0.625rem;
  --instance-radius-full: 62.4375rem;
}
[device="Mobile"] {
  /* number */
  --special: -8rem;
  --special-2: -8rem;
  --container-gap_between-2xs: 0.125rem;
  --container-gap_between-xs: 0.25rem;
  --container-gap_between-sm: 0.375rem;
  --container-gap_between-md: 0.5rem;
  --container-gap_between-lg: 0.75rem;
  --container-gap_between-xl: 0.75rem;
  --container-gap_between-2xl: 1rem;
  --container-gap_between-3xl: 2.5rem;
  --container-gap_between-4xl: 3.75rem;
  --container-max_w-sm: 25rem;
  --container-max_w-lg: 36rem;
  --container-max_w-md: 37.5rem;
  --container-max_w-xl: 37.5rem;
  --container-padding-xs: 0.125rem;
  --container-padding-sm: 0.25rem;
  --container-padding-md: 0.5rem;
  --container-padding-lg: 0.75rem;
  --container-padding-xl: 0.75rem;
  --container-padding-2xl: 1rem;
  --container-padding-3xl: 2.5rem;
  --container-padding-horizontal-md: 0.75rem;
  --container-padding-horizontal-lg: 1rem;
  --container-padding-horizontal-xlg: 1.25rem;
  --container-padding-vertical-md: 0.75rem;
  --container-padding-vertical-scrollbar: 0.75rem;
  --container-padding-vertical-lg: 1.25rem;
  --container-padding-vertical-xlg: 2.5rem;
  --container-radius-2xs: 0.5rem;
  --container-radius-xs: 0.625rem;
  --container-radius-sm: 0.875rem;
  --container-radius-md: 1rem;
  --container-radius-lg: 1.25rem;
  --container-radius-full: 62.4375rem;
  --instance-gap_between-xs: 0.0625rem;
  --instance-gap_between-sm: 0.125rem;
  --instance-gap_between-md: 0.25rem;
  --instance-gap_between-lg: 0.375rem;
  --instance-gap_between-xl: 0.5rem;
  --instance-gap_between-2xl: 0.75rem;
  --instance-padding-shadow-negative: -0.1875rem;
  --instance-padding-2xs: 0.125rem;
  --instance-padding-text: 0.125rem;
  --instance-padding-shadow-positive: 0.1875rem;
  --instance-padding-xs: 0.25rem;
  --instance-padding-sm: 0.375rem;
  --instance-padding-md: 0.5rem;
  --instance-padding-lg: 0.625rem;
  --instance-padding-xl: 0.75rem;
  --instance-padding-2xl: 0.875rem;
  --instance-radius-2xs: 0.25rem;
  --instance-radius-xs: 0.375rem;
  --instance-radius-sm: 0.625rem;
  --instance-radius-full: 62.4375rem;
}